<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>compare test</title>
    <!--
        禁用响应式布局
        1 删除viewport meta信息
        2 设置container宽度 !important
        3 如果采用了导航栏 要删除掉菜单在移动端的折叠样式展开
          通过删除折叠菜单 通过button的 navbar-toggle来实现
        4 栅栏布局 采用最小设备的栅栏来进行布局

    <meta name="viewport" content="width=device-width, initial-scale=1">
    -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

</head>
<style>
    .container {
        width: 1140px !important;
        /*min-width:1140px;*/
        max-width: none !important;
        /*height: 700px;*/
        /*background-color:black;*/
    }

    .row .container {
        width: 100% !important;
    }

    p {
        margin: 0 0 0 0;
    }

    textarea:focus {
        outline: none;
        border: 0;
    }

    textarea {
        width: 100%;
        height: 400px;
        resize: none;
        border: 0;
    }


    .imageslist {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 90px;
        justify-content: space-between;
        align-items: center;
        /*height:100px;*/
        background-color: grey;
        margin: 2 2 2 2;

    }

    .imageslist .img {
        cursor: pointer;
        width: 76px;
        height: 76px;
        opacity: 0.3;

    }

    .imageslist .img:hover {
        opacity: 0.6;
    }

    .imageslist .img.active {
        border: 1px solid #1989fa;
        opacity: 1;
    }

    .outer-container,
    .content {
        width: 640px;
        height: 76px;
    }

    .outer-container {
        position: relative;
        overflow: hidden;
    }

    .inner-container {
        position: absolute;
        left: 0;
        overflow-x: scroll;
        overflow-y: auto;
    }

    .content {
        white-space: nowrap;
    }

    .myimg {
        cursor: pointer;
        width: 76px;
        height: 76px;
    }

    /* for Chrome */

    /*.inner-container::-webkit-scrollbar {
    display: none;
}*/
</style>

<body>
    <div class="container" id="facecompare">
        <div class="row">
            <div class="col-12 mt-4 mb-3">
                <h2 class="text-center">功能演示</h2>
                <p class="text-center fond-weight-light">
                    <span>即刻体验Face++的人脸比对能力。请上传本地图片或提供图片URL。</span>
                </p>
                <p class="text-center fond-weight-light">
                    <span>该功能演示是基于Compare API搭建的。如果您对技术能力有特别要求，请查看下方的产品目录或联系我们。</span>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="container mt-4">
                    <div class="row mb-3">
                        <div class="col-6">
                            <img class="mx-auto mr-1 w-100" :class=" curbigimginx==0 ? 'border border-danger':''" :src="bigimglist[0]" @click="clickbigimg(0)"
                                alt="">
                        </div>
                        <div class="col-6">
                            <img class=" mx-auto w-100" :class=" curbigimginx==1 ? 'border border-danger':''" :src="bigimglist[1]" alt="" @click="clickbigimg(1)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 mb-3">

                            <div class="imageslist">

                                <button class="btn btn-info btn-sm h-75" @click="clickleftbtn"> &lt;</button>

                                <div class="outer-container">
                                    <div class="inner-container">
                                        <div class="content">
                                            <img v-for="(item, index) in imglists" class="img m-1" :class="curimgindex==index? 'active' : '' " :src="item" @click="clickimglist(index)"
                                                alt="">
                                        </div>
                                    </div>
                                </div>

                                <button class="btn btn-info btn-sm h-75" @click="clickrightbtn"> &gt;</button>

                            </div>


                        </div>

                    </div>

                    <div class="row">
                        <div class="col-4">
                            <input type="button" value="本地上传" class="btn btn-info btn-sm" style="width:150px">
                        </div>

                        <div class="col-8">
                            <form>
                                <div class="input-group mb-3 input-group-sm">
                                    <input type="text" class="form-control" placeholder="image url" v-model="imgurl">
                                    <div class="input-group-append">
                                        <input type="button" value="确认" class="btn btn-info pl-4 pr-4" @click="clickseturl">
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>

            </div>
            <div class="col-4">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#admin" role="tab" aria-controls="home" aria-selected="true">
                            <h6>比对结果</h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="profile" aria-selected="false">
                            <h6>Response JSON</h6>
                        </a>
                    </li>
                </ul>
                <div class="tab-content border border-top-0" id="myTabContent">
                    <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="home-tab">
                        <textarea name="" id="" readonly v-text="compareresult"></textarea>
                    </div>
                    <div class="tab-pane fade" id="edit" role="tabpanel" aria-labelledby="profile-tab">
                        <textarea name="" id="" readonly v-text="comparejsondata"></textarea>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <div style="display:none">
        <h1>test2</h1>
        <div class="outer-container" id="mytest3">
            <div class="inner-container">
                <div class="content" id="mycontent">
                    <img class="myimg" src="https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic36.jpg" alt="">

                    <img class="myimg" src="https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic35.jpg" alt="">

                    <img class="myimg" src="https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic35.jpg" alt="">

                    <img class="myimg" src="https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic35.jpg" alt="">

                    <img class="myimg" src="https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic35.jpg" alt="">

                    <img class="myimg" src="https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic35.jpg" alt="">
                    <img class="myimg" src="https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic35.jpg" alt="">
                    <img class="myimg" src="https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic35.jpg" alt="">

                    <img class="myimg" src="https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic35.jpg" alt="">

                    <img class="myimg" src="https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic36.jpg" alt="">
                    <img id="lastone" class="myimg" src="https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic36.jpg" alt="">
                </div>
            </div>
        </div>
        <h1>test3</h1>
    </div>


    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        var vm = new Vue({
            el: "#facecompare",
            data: {
                imglists: [
                    "https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic28.jpg",
                    "https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic29.jpg",
                    "https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic30.jpg",
                    "https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic37.jpg",
                    "https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic32.jpg",
                    "https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic33.jpg",
                    "https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic34.jpg",
                    "https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic35.jpg",
                    "https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic36.jpg",
                    "https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic37.jpg",
                ],
                curimgindex: 0,

                bigimglist: ['', ''],
                curbigimginx: 0,

                imgurl: '',
                comparejsondata:'',
                tmpcurimgtag: 0,
                compareresult:'',
            },
            methods: {
                clickleftbtn(){
                    document.getElementsByClassName('img')[0].scrollIntoView();
                },
                clickrightbtn(){
                    document.getElementsByClassName('img')[this.imglists.length-1].scrollIntoView();
                },
                clickimglist(index) {
                    this.curimgindex = index;
                    this.setbigimg(this.imglists[index])

                },
                clickbigimg(index) {
                    this.curbigimginx = index;
                    this.selectimglisttobigimg()
                },
                clickseturl() {
                    console.log('set img url:', this.imgurl)
                    this.setbigimg(this.imgurl)
                    this.selectimglisttobigimg()
                },
                selectimglisttobigimg() {
                    let findinx = -1;
                    for (let index = 0; index < this.imglists.length; index++) {
                        const element = this.imglists[index];
                        if (this.imglists[index] === this.bigimglist[this.curbigimginx]) {
                            findinx = index
                            break
                        }
                    }
                    if (findinx != -1) {
                        document.getElementsByClassName('img')[findinx].scrollIntoView();
                    }
                    this.curimgindex = findinx
                },
                setbigimg(newimgsrc) {
                    let temp = this.bigimglist[this.curbigimginx]

                    if (temp === newimgsrc) {
                        console.log('src == newimgsrc do not set:', temp)
                        return
                    }

                    this.bigimglist[this.curbigimginx] = newimgsrc

                    if (0 == temp.indexOf('blob:null')) {
                        window.URL.revokeObjectURL(temp)
                        console.log('clear old blob img src', temp)
                    }
                    // do the compare  all is file path
                    this.facecompare()
                },
                facecompare() {                    
                    let tag = ++this.tmpcurimgtag

                    // send axios 
                    let formdata = new FormData();
                    formdata.append("api_key", "YHlShnzToe1pqvnTXTYupi5Fst0kMnkC")
                    formdata.append("api_secret", "fYBk6261SF-NjJUrJjp1-rZBO8p9JJBq")
                    
                    //formdata.append("image_url","https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1555339400025&di=61165fb9d80035d89ad21450ab403966&imgtype=0&src=http%3A%2F%2Fsports.sina.com.cn%2Fn.sinaimg.cn%2Fsports%2Ftransform%2F283%2Fw650h433%2F20190216%2FSt1O-htacqwv8021210.jpg")
                    formdata.append("image_url1", this.bigimglist[0])
                    formdata.append("image_url2", this.bigimglist[1])
                    let config = {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }
                    axios.post('https://api-cn.faceplusplus.com/facepp/v3/compare', formdata, config)
                        .then((res) => {
                            console.log(res.data)
                            if (tag != this.tmpcurimgtag) {
                                console.log('error tag: ', tag, this.tmpcurimgtag)
                                return
                            }
                            this.comparejsondata = res.data
                            let similar = '完全不像'
                            if (res.data.confidence > 95) {
                                similar = '非常相似'
                            }
                            else if (res.data.confidence > 80) {
                                similar = '有点像'
                            }
                            this.compareresult = '最后的比分是：' + res.data.confidence + '\n' + similar
                        })
                        .catch((err) => {
                            console.log(tag, this.tmpcurimgtag, err)
                            alert(err.message)
                        })
                },
            },
            mounted() {
                this.bigimglist = [this.imglists[0], this.imglists[this.imglists.length - 2]]
                this.imgurl = 'https://www.faceplusplus.com.cn/scripts/demoScript/images/demo-pic18.jpg'
                this.facecompare()
            },
        })
    </script>
</body>

</html>